.about-intro-box {
    background-image: url(https://images.unsplash.com/photo-1519671282429-b44660ead0a7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHJlc3RhdXJhbnR8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-intro-box h1 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    font-size: 1.9rem;
    font-weight: 100;
    animation: fade .8s;
}

.about-page-about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
}

.about-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.about-contents img {
    height: 35rem;
}

.about-contents div {
    max-width: 40rem;
}

.about-contents h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 2.7rem;
}

.about-contents p {
    color: rgb(39, 39, 39);
}


/* Catering Services */

.cater-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 1rem;
}

.cater-box h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

.cater-contents {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0;
    gap: 5rem;
}

.cater-contents div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 25rem;
}

.cater-contents h2 {
    font-family: 'Montserrat', sans-serif;
}

.cater-contents img {
    height: 6rem;
}