.contact-intro-box {
    background-image: url(/src/assets/img/contact.avif);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

.contact-intro-box h1 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    font-size: 1.9rem;
    font-weight: 100;
    animation: fade .8s;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 2rem;
    gap: 35rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-us div input, textarea {
    width: 20rem;
    font-size: 1rem;
    border: 1px solid rgb(214, 214, 214);
    padding: 1rem .5rem;
    margin: .5rem 0;
    resize: none;
}

.contact-us div a {
    background-color: #caae59;
    max-width: 10rem;
    color: white;
    text-decoration: none;
    margin: 2rem 0;
    text-align: center;
    padding: .8rem;
    border: 1px solid;
    transition: all .3s;
}

.contact-us div a:hover {
    background-color: white;
    color: #caae59;
}

@media (max-width: 1400px) {
    .contact-center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8rem 2rem;
        gap: 18rem;
    }
}

@media (max-width: 900px) {
    .contact-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 8rem 2rem;
        gap: 10rem;
    }
}