.intro-box {
    background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.intro-box h1 {
    text-align: center;
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: 100;
    animation: fade .8s;
}

.intro-box label {
    animation: fade .8s;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* About */

.about-box {
    display: grid;
    align-items: center;
}

.about-box .about-box-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    margin: 0rem 11rem;
    padding: 6rem 0;
}

.about-text {
    max-width: 35rem;
}

.about-img-box {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.about-box img {
    height: 29rem;
}

.about-text label {
    color: #d7a305;
}

.about-text h2 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
}

.about-text p {
    color: rgb(78, 78, 78);
    font-size: .9rem;
}

.about-text a {
    cursor: pointer;
    font-size: 1rem;
    padding: .7rem 1.7rem;
    background-color: white;
    border: 1px solid #d7a305;
    text-decoration: none;
    color: #d7a305;
    transition: all .3s;
}

.about-text a:hover {
    color: white;
    background-color: #d7a305;
}

@media (max-width: 1400px) {

    .about-box .about-box-center {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
        margin: 0rem auto;
        padding: 6rem 3rem;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-img-box {
        gap: 2rem;
    }
}

@media (max-width: 900px) {
    .about-box .about-box-center {
        padding: 6rem 1rem;
    }

    .about-text {
        text-align: center;
    }

    .about-box img {
        height: 22rem;
    }
}

@media (max-width: 620px) {
    .about-box img {
        height: 18rem;
    }
}

@media (max-width: 500px) {
    .about-box img {
        height: 14rem;
    }
}


/* Special */

.special-box {
    display: grid;
    align-items: center;
}

.special-center {
    padding: 4rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0rem 17rem;
}

.special-text-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem;
}

.special-text-box h2 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    font-size: 2.5rem;
    font-weight: 200;
}

.special-text-box h2 label {
    color: #d7a305;
}

.special-name {
    font-size: 1.2rem;
    margin: .5rem 0;
}

.cost-wrap {
    position: relative;
}

.special-cost {
    position: absolute;
    right: 0;
    top: .7rem;
    margin: 0rem 1rem;
}

.special-ingre {
    color: rgb(123, 123, 123);
    font-size: .8rem;
    margin: 0;
}

.special-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.special-img-box img {
    height: 26rem;
}

@media (max-width: 1400px) {

    .special-center {
        padding: 4rem 0;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 0rem auto;
    }
}

@media (max-width: 900px) {

    .special-img-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .special-img-box img {
        height: 15rem;
    }
}

/* Menu */

.menu-box {
    display: grid;
    align-items: center;
}

.menu-box h2 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 4rem;
}

.menu-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 0 7rem;
}

.menu-sections {
    border: 1px solid rgb(205, 205, 205);
}

.menu-text-box {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    transition: all .3s;
    position: relative;
}

.menu-text-box div {
    display: flex;
    flex-direction: column;
}

.menu-text-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.menu-text-box label {
    color: rgb(144, 144, 144);
    font-size: .8rem;
    margin-bottom: 2rem;
}

.menu-text-box p {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgb(171, 171, 171);
    transition: all .3s;
}

.view-menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.view-menu-box a {
    cursor: pointer;
    padding: .7rem 2.5rem;
    border: none;
    text-transform: uppercase;
    background-color: white;
    color: #d7a305;
    text-decoration: none;
    border: 1px solid #d7a305;
    transition: all .3s;
}

.view-menu-box a:hover {
    background-color: #d7a305;
    color: white;
}

@media (max-width: 1400px) {

    .menu-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 0 7rem;
    }
}

@media (max-width: 900px) {
    .menu-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 0 auto;
    }

    .menu-text-box {
        padding: 1rem 4rem;
    }
}


/* Reservation */

.reserv-box {
    background-image: url(https://images.unsplash.com/photo-1599458448510-59aecaea4752?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHJlc3RhdXJhbnR8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.722);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5rem 0;
}

.reserv-box h2 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    font-weight: 200;
}

.reserv-box p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.reserv-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reserv-center a {
    font-size: 1rem;
    background-color: #b18e25;
    text-align: center;
    text-decoration: none;
    border: 1px solid #b18e25;
    color: rgb(242, 242, 242);
    padding: .7rem 1.6rem;
    margin: 1rem 0rem;
    transition: all .3s;
}

.reserv-center a:hover {
    background-color: transparent;
    border: 1px solid #b18e25;
    color: white;
}

@media (max-width: 600px) {

    .reserv-contents {
        grid-template-columns: 1fr;
    }
}


/* Gallary */

.gall-box {
    margin: auto;
    max-width: 65rem;
}

.gall-center {
    display: grid;
    padding: 10rem 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 0rem 2rem;
}

.gall-items {
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s;
    cursor: pointer;
}

.gall-item1 {
    background-image: url(https://images.unsplash.com/photo-1598532213919-078e54dd1f40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGlzaHxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    height: 32rem;
    width: 30rem;
}

.gall-item2 {
    background-image: url(https://images.unsplash.com/photo-1555126634-323283e090fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8ZGlzaHxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    height: 40rem;
    width: 30rem;
}

.gall-item3 {
    background-image: url(https://images.unsplash.com/photo-1564671165093-20688ff1fffa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZGlzaHxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    height: 45rem;
    width: 30rem;
}

.gall-item4 {
    background-image: url(https://images.unsplash.com/photo-1617474019977-0e105d1b430e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZGlzaHxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    height: 35rem;
    width: 32rem;
}

.gall-items:hover {
    box-shadow: inset 0 0 1000px rgba(3, 4, 7, 0.604);
    transform: scale(1.03);
}

@media (max-width: 1200px) {
    .gall-center {
        grid-template-columns: 1fr;
        gap: 10rem 2rem;
    }

    .gall-items {
        height: 28rem;
        width: 25rem;
    }
}

@media (max-width: 900px) {
    .gall-items {
        height: 23rem;
        width: 20rem;
    }
}