.intro-box {
    background-image: url(https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.intro-box h1 {
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: 100;
}

/* About */

.about-box {
    display: grid;
    align-items: center;
}

.about-box .about-box-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    margin: 0rem 11rem;
    padding: 6rem 0;
}

.about-img-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.about-box img {
    height: 34rem;
}

.about-text label {
    color: #b59d55;
}

.about-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;
}

.about-text p {
    color: rgb(78, 78, 78);
    font-size: .9rem;
}

.about-text a {
    cursor: pointer;
    font-size: 1rem;
    padding: .7rem 1.7rem;
    background-color: white;
    border: 1px solid #948045;
    text-decoration: none;
    color: #948045;
    transition: all .3s;
}

.about-text a:hover {
    color: white;
    background-color: #caae59;
}

@media (max-width: 1400px) {

    .about-box .about-box-center {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5rem;
        margin: 0rem auto;
        padding: 6rem 10rem;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-img-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}


/* Special */

.special-box {
    display: grid;
    align-items: center;
}

.special-center {
    padding: 4rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0rem 17rem;
}

.special-text-box {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem;
}

.special-text-box h2 {
    font-size: 2.5rem;
    font-weight: 200;
}

.special-name {
    font-size: 1.2rem;
    margin: .5rem 0;
}

.cost-wrap {
    position: relative;
}

.special-cost {
    position: absolute;
    right: 0;
    top: .7rem;
    margin: 0rem 1rem;
}

.special-ingre {
    color: rgb(123, 123, 123);
    font-size: .8rem;
    margin: 0;
}

.special-text-box a {
    text-decoration: none;
    text-align: center;
    border: 1px solid #948045;
    color: #948045;
    margin: 1.5rem 0;
    cursor: pointer;
    max-width: 8rem;
    padding: .5rem;
    transition: all .3s;
}

.special-text-box a:hover {
    background-color: #caae59;
    color: white;
}

.special-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.special-img-box img {
    height: 26rem;
}

@media (max-width: 1400px) {

    .special-center {
        padding: 4rem 0;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 0rem auto;
    }
}

/* Menu */

.menu-box {
    display: grid;
    align-items: center;
}

.menu-box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    padding-top: 4rem;
}

.menu-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 0 7rem;
}

.menu-sections {
    border: 1px solid rgb(205, 205, 205);
}

.menu-text-box {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    transition: all .3s;
    position: relative;
}

.menu-text-box div {
    display: flex;
    flex-direction: column;
}

.menu-text-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.menu-text-box label {
    color: rgb(144, 144, 144);
    font-size: .8rem;
}

.menu-text-box p {
    font-size: 1.2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: rgb(171, 171, 171);
    transition: all .3s;
}

.menu-text-box:hover p {
    color: #e1bb4c;
}

.menu-text-box a {
    margin-top: 1rem;
    text-decoration: none;
    color: #b39d5c;
}

.menu-text-box a:hover {
    text-decoration: underline;
}

.view-menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

.view-menu-box a {
    cursor: pointer;
    padding: .7rem 2.5rem;
    border: none;
    text-transform: uppercase;
    background-color: white;
    color: #948045;
    text-decoration: none;
    border: 1px solid #948045;
    transition: all .3s;
}

.view-menu-box a:hover {
    background-color: #caae59;
    color: white;
}

@media (max-width: 1400px) {

    .menu-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 0 7rem;
    }
}









.reserv-box {
    background-image: url(https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.reserv-box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 200;
}

.reserv-center {
    padding: 8rem 5rem;
    display: grid;
    align-items: center;
}

.reserv-contents {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.reserv-contents input, .reserv-contents select {
    background: none;
    color: white;
    border: none;
    margin: .5rem 1rem;
    padding: .5rem;

}

.reserv-contents .name1 {
    font-size: .8rem;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}


.reserv-contents .name2 {
    font-size: .8rem;
    position: absolute;
    top: 1rem;
    right: 8.8rem;
}