.reserv-intro-box {
    background-image: url(https://images.unsplash.com/photo-1599458448510-59aecaea4752?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHJlc3RhdXJhbnR8ZW58MHwwfDB8fHww&auto=format&fit=crop&w=500&q=60);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

.reserv-intro-box h1 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    font-size: 1.9rem;
    font-weight: 100;
    animation: fade .8s;
}

.reserv-page-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserv-page-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 2rem;
    gap: 5rem;
}

.reserv-page-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserv-page-info img {
    height: 30rem;
}

.reserv-page-info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reserv-page-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reserv-page-input div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.reserv-page-input div input, textarea {
    width: 18rem;
    font-size: 1rem;
    border: 1px solid rgb(214, 214, 214);
    padding: 1rem .5rem;
    margin: .5rem 0;
    resize: none;
}

.reserv-page-input div select {
    font-size: 1rem;
    border: 1px solid rgb(214, 214, 214);
    padding: 1rem .5rem;
}

.reserv-page-input div a {
    background-color: #caae59;
    max-width: 10rem;
    color: white;
    text-decoration: none;
    margin: 2rem 0;
    text-align: center;
    padding: .8rem;
    border: 1px solid;
    transition: all .3s;
}

.reserv-page-input div a:hover {
    background-color: white;
    color: #caae59;
}

@media (max-width: 1450px) {
    .reserv-page-center {
        display: flex;
        flex-direction: column;
        margin: 8rem 2rem;
    }

    .reserv-page-info img {
        height: 27rem;
    }
}

@media (max-width: 800px) {
    .reserv-page-center {
        display: flex;
        flex-direction: column;
        margin: 8rem 2rem;
    }

    .reserv-page-input div {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .reserv-page-info img {
        height: 15rem;
    }
}