nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    inset: 0rem;
    position: fixed;
    z-index: 100000;
}

nav h1 {
    margin: 1rem;
}

nav h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

li {
    font-size: .9rem;
    padding: 1rem;
}

.reserv {
    background-color: #b18e25;
    border: 1px solid #b18e25;
    padding: 1rem 1.5rem;
}

.reserv:hover {
    background: transparent;
    color: #e8c867;
}

nav ul li {
    margin: 0rem 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .3s;
}

li a:hover {
    color: #dcbf68;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .toggle-button {
        display: flex;
    }

    nav ul.active {
        display: flex;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: rgb(50, 50, 50);
        width: 100%;
        height: 100vh;
        top: -1rem;
        right: 0;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 1rem 0;
    }
}