nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 4rem;
    inset: 0rem;
}

nav h1 {
    margin: 1rem;
}

nav h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: .9rem;
    padding: 1rem;
}

.reserv {
    background-color: #ad9651;
    border: 1px solid #ad9651;
    padding: 1rem 1.5rem;
}

.reserv:hover {
    background: transparent;
    color: #e8c867;
}


nav ul li {
    margin: 0rem 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .3s;
}

li a:hover {
    color: #dcbf68;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 1.1rem;
    right: 1rem;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .toggle-button {
        display: flex;
    }

    nav ul {
        display: none;
    }
}