nav {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 4rem;
    inset: 0rem;
}

nav h1 {
    margin: 1rem;
}

nav h1 a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: .9rem;
    padding: 1rem;
}

.reserv {
    background-color: #ad9651;
    border: 1px solid #ad9651;
    padding: 1rem 1.5rem;
}

.reserv:hover {
    background: transparent;
    color: #e8c867;
}


nav ul li {
    margin: 0rem 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all .3s;
}

li a:hover {
    color: #dcbf68;
}