nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1 {
    margin: 1rem;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li {
    margin: 0rem 2rem;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: black;
}