footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    color: rgb(232, 232, 232);
    height: 55vh;
}

.footer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.footer-item-box {
    max-width: 15rem;
    min-height: 18rem;
}

.footer-hours-box div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer-hours-box p {
    margin: .4rem .5rem;
}

.footer-item-box p {
    color: rgb(203, 203, 203);
    font-size: .8rem;
}

.newsletter-btn-box {
    display: flex;
    flex-direction: column;
}

.newsletter-btn-box input {
    width: 55%;
    padding: .5rem 1rem;
    margin: .5rem 0rem;
}

.newsletter-btn-box button {
    background-color: #b18e25;
    color: rgb(232, 232, 232);
    border: 2px solid #b18e25;
    cursor: pointer;
    width: 70%;
    padding: .6rem 1rem;
    margin: .5rem 0rem;
    transition: all .3s;
}

.newsletter-btn-box button:hover {
    background-color: transparent;
}

@media (max-width: 1400px) {

    footer {
        height: auto;
    }

    .footer-box {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 2rem;
    }

    .footer-item-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .newsletter-btn-box {
        flex-direction: column;
    }
}