footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31);
    color: rgb(232, 232, 232);
    height: 50vh;
}

.footer-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.footer-item-box {
    max-width: 20rem;
    min-height: 18rem;
}

.footer-item-box p {
    font-size: .8rem;
}

.newsletter-btn-box {
    display: flex;
    flex-direction: column;
}

.newsletter-btn-box input {
    width: 40%;
    padding: .5rem 1rem;
    margin: .5rem 0rem;
}

.newsletter-btn-box button {
    background-color: #bb944c;
    color: rgb(232, 232, 232);
    border: none;
    cursor: pointer;
    width: 51%;
    padding: .6rem 1rem;
    margin: .5rem 0rem;
}

@media (max-width: 1400px) {

    footer {
        height: auto;
    }

    .footer-box {
        flex-direction: column;
        margin: 4rem 0;
    }

    .footer-item-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter-btn-box {
        flex-direction: row;
    }

    .newsletter-btn-box input {
        margin: .5rem 1rem;
    }

    .newsletter-btn-box button {
        margin: .5rem 1rem;
    }
}