.menu-intro-box {
    background-image: url(/src//assets/img/menu-intro.avif);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

.menu-intro-box h1 {
    font-family: 'Lora', serif;
    letter-spacing: .2rem;
    font-size: 2rem;
    font-weight: 100;
    animation: fade .8s;
}

.page-menu-box {
    display: grid;
    align-items: center;
    padding: 7rem 0;
}

.page-menu-box h2 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
}

.page-menu-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 0 7rem;
}

.page-menu-sections {
    border: 1px solid rgb(205, 205, 205);
    margin: 0 1rem;
}

.page-menu-text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}

.page-menu-text-box div {
    display: flex;
    flex-direction: column;
}

.page-menu-text-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
}

.page-menu-text-box label {
    color: rgb(144, 144, 144);
    font-size: .8rem;
}

.page-menu-text-box p {
    position: absolute;
    font-size: 1.1rem;
    top: 1rem;
    right: 1rem;
    color: rgb(171, 171, 171);
    transition: all .3s;
}

.page-view-menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

@media (max-width: 1400px) {

    .page-menu-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 0 7rem;
    }
}

@media (max-width: 900px) {
    .page-menu-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 0 auto;
    }

    .page-menu-text-box {
        padding: 1rem 8rem;
    }
}

@media (max-width: 600px) {
    .page-menu-text-box {
        padding: 1rem 4rem;
    }
}

/* Fav Dish */

.fav-dish-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.fav-dish-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    font-weight: 100;
    padding: 0 1rem;
}

.fav-dish-box label {
    color: #d7a305;
}

.fav-dish-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    gap: 13rem;
}

.fav-dish-items {
    display: flex;
    gap: 5rem;
}

.fav-dish-items-rev {
    flex-direction: row-reverse;
}

.fav-dish-img1 {
    background-image: url(/src/assets/img/fav-dish1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 27rem;
    width: 35rem;
}

.fav-dish-img2 {
    background-image: url(/src/assets/img/fav-dish2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 27rem;
    width: 35rem;
}

.fav-dish-text {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fav-dish-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    margin: 1rem 0;
}

.fav-dish-text div {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fav-dish-text div p {
    font-size: 1.4rem;
    padding: 0 2rem;
}

.ingr {
    font-family: 'Montserrat', sans-serif;
    margin: 1.5rem 0;
}

.fav-dish-text div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1150px) {
    .fav-dish-items {
        text-align: center;
        flex-direction: column;
    }

    .fav-dish-text {
        max-width: 35rem;
    }
}

@media (max-width: 700px) {
    .fav-dish-box h2 {
        text-align: center;
    }

    .fav-dish-img1 {
        height: 20rem;
        width: 28rem;
        margin: auto;
    }

    .fav-dish-img2 {
        height: 17rem;
        width: 22rem;
        margin: auto;
    }
}

@media (max-width: 550px) {
    .fav-dish-img1 {
        height: 12rem;
        width: 18rem;
        margin: auto;
    }

    .fav-dish-img2 {
        height: 12rem;
        width: 18rem;
        margin: auto;
    }
}