.menu-intro-box {
    background-image: url(https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmVzdGF1cmFudHxlbnwwfDB8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: inset 0 0 0 1000px rgba(3, 4, 7, 0.604);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 1rem;
}

.menu-intro-box h1 {
    font-size: 2rem;
    font-weight: 100;
    animation: fade .8s;
}

.page-menu-box {
    display: grid;
    align-items: center;
    padding: 7rem 0;
}

.page-menu-box h2 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
}

.page-menu-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    margin: 0 7rem;
}

.page-menu-sections {
    border: 1px solid rgb(205, 205, 205);
}

.page-menu-text-box {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
}

.page-menu-text-box div {
    display: flex;
    flex-direction: column;
}

.page-menu-text-box h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
}

.page-menu-text-box label {
    color: rgb(144, 144, 144);
    font-size: .8rem;
}

.page-menu-text-box p {
    position: absolute;
    font-size: 1.1rem;
    top: 1rem;
    right: 1rem;
    color: rgb(171, 171, 171);
    transition: all .3s;
}

.page-menu-text-box a {
    margin-top: 1rem;
    text-decoration: none;
    color: #caae59;
}

.page-menu-text-box a:hover {
    text-decoration: underline;
}

.page-view-menu-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

@media (max-width: 1400px) {

    .page-menu-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 0 7rem;
    }
}

@media (max-width: 900px) {
    .page-menu-center {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
        margin: 0 auto;
    }
}

/* Fav Dish */

.fav-dish-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.fav-dish-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

.fav-dish-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.fav-dish-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;
    padding: 2rem 0;
}

.fav-dish-items-rev {
    flex-direction: row-reverse;
}

.fav-dish-items img {
    height: 20rem;
}

.fav-dish-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    margin: 1rem 0;
}

.fav-dish-text div {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fav-dish-text div p {
    font-size: 1.4rem;
    padding: 0 2rem;
}

.ingr {
    font-family: 'Montserrat', sans-serif;
    margin: 1.5rem 0;
}

.fav-dish-text a {
    cursor: pointer;
    padding: .7rem 2.5rem;
    border: none;
    text-transform: uppercase;
    background-color: white;
    color: #948045;
    text-decoration: none;
    border: 1px solid #948045;
    transition: all .3s;
}

.fav-dish-text a:hover {
    background-color: #caae59;
    color: white;
}

.fav-dish-text div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}